/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #0d0e17;
  --black-soft: #131126;
  --black-mute: #181638;

  --indigo: #2c3e50;

  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(89, 85, 120, 0.48);

  --text-light-1: var(--black);
  --text-light-2: rgba(60, 60, 60, 0.66);
  --text-dark-1: var(--white);
  --text-dark-2: rgba(235, 235, 235, 0.64);

  --border-radius: 12px;
}

/* semantic color variables for this project */
:root {
  --background: var(--white);
  --background-soft: var(--white-soft);
  --background-mute: var(--white-mute);
  
  --border: var(--divider-light-2);
  --border-hover: var(--divider-light-1);
  
  --heading: var(--text-light-1);
  --text: var(--text-light-1);
  
  --gap: 160px;

  --main: #2f00ff;
  --main-light: #687fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --background-soft: var(--black-soft);
    --background-mute: var(--black-mute);

    --border: var(--divider-dark-2);
    --border-hover: var(--divider-dark-1);

    --heading: var(--text-dark-1);
    --text: var(--text-dark-1);

    --main: #2f00ff;
    --main-light: #687fff;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text);
  background: var(--background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
