@import './base.scss';

.container {
  margin: auto;
  max-width: 500px;
}

h2 {
  margin-bottom: 10px;
}

.nav {
  display: flex;
  gap: 30px;
  padding: 20px 0;

  &__link {
    display: inline-block;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #75d1ff;
    }
  }
}